.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all_album {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.title {
  font-size: 16px;
  color: var(--dark11);
}

.amount {
  font-size: 15px;
  color: var(--dark06);
}

.all_album .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 12px;
  padding-bottom: 16px;
}

.photo {
  width: 29.3vw;
  height: 13.6vh;
  border-radius: 4px;
}

.album {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-top: 1px solid var(--dark12);
}

.album_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.album2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  border-top: 1px solid var(--dark12);
}

.album2 .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.plus_btn {
  position: fixed;
  bottom: 8px;
  right: 16px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
  border-radius: 50%;
}